global
  chroot /var/lib/haproxy
  user haproxy
  group haproxy

  # Default SSL material locations
  ca-base /etc/ssl/certs
  crt-base /etc/ssl/private

  # https://cipherli.st/
  ssl-default-bind-options no-sslv3 no-tls-tickets force-tlsv12
  ssl-default-bind-ciphers AES128+EECDH:AES128+EDH

  # https://www.digitalocean.com/community/tutorials/how-to-implement-ssl-termination-with-haproxy-on-ubuntu-14-04
  maxconn 2048
  tune.ssl.default-dh-param 2048

defaults
  mode http
  option httplog
  option forwardfor

  timeout connect 5000
  timeout client  50000
  timeout server  50000

backend www-backend
  server web1 localhost:5000 check

frontend http-in
  bind *:80
  redirect scheme https code 301 if !{ ssl_fc }

frontend https-in
  bind *:443 ssl crt /etc/ssl/private/ssl.pem ciphers AES128+EECDH:AES128+EDH force-tlsv12 no-sslv3
  rspadd Strict-Transport-Security:\ max-age=31536000;\ includeSubdomains;\ preload
  rspadd X-Frame-Options:\ DENY
  
  default_backend www-backend